[Desktop Entry]
Name=MacOS
Comment=Start MacOS Big Sur
Exec=/PathToDirectory/MacOS.sh
Terminal=true
Type=Application
Icon=/PathToIcon/apple.png
Categories=Multimedia;

